@model WebAPI.Models.Employee
@{
    ViewBag.Title = "EmployeeInfo";
}

<h2>Employee Info</h2>
Employee Name: @Model.name <br />
Employee Age: @Model.age <br />
Employee Address: @Model.address <br />
Employee Contact: @Model.contact <br />
